

.navBar
    max-width: 13%
    min-width: 13.5em
    height: 100vh
    background-color: #fff
    
    img
        width: 60%
        margin: 3rem 18%
        cursor: pointer

    ul
        margin: .8rem 0 0 0
        list-style: none
        display: flex
        flex-direction: column
    
    button
        background-color: #fff
        border: none
        cursor: pointer
        width: 100%
        padding: 0.7rem 0 0.5rem 2rem
        border-bottom: 1px solid #ccc 
        color: #000
        font-size: 1.1rem
        transition: all 0.3s ease-in-out
        display: flex

        svg
           margin-right: 1.5rem 

        &:hover
            color: #fff
            background-color: #3f51b5b7
        
        &:active
            color: #504e4e
            background-color: #3f51b5b7 

    a
        padding: 0.7rem 0 0.5rem 2rem
        border-bottom: 1px solid #ccc 
        text-decoration: none
        color: #000
        font-size: 1.1rem
        transition: all 0.3s ease-in-out
        display: flex

        svg
           margin-right: 1.5rem 

        &:hover
            color: #fff
            background-color: #3f51b5b7
        
        &:active
            color: #504e4e
            background-color: #3f51b5b7





