@use '../../styles/mixins'


.conatiner-dashclient  
    max-width: 95rem
    margin: 0 auto
    @include mixins.animation

    .css-1yhpg23-MuiTableCell-root
        text-align: left

    .table-container

        .table-dashclient

            .nullClient
                text-align: center
                font-size: 1rem


            .body-dashclient
                cursor: pointer

            .header-dashclient
                background: #3f51b5
                font-weight: bold
                
                h3
                    color: #fff

   