@use '../../styles/mixins'


.conatiner-dashclient  
    width: 90%
    margin: auto 
    @include mixins.animation
    background: transparentize(#fff, 0.9)

    .table-container

        .table-dashclient

            .body-dashclient

            .header-dashclient
                padding: .9em

            .header-dashclient
                background: #3f51b5
                font-weight: bold
                
                h3
                    color: #fff

   